<div *ngIf="selectedList != null" id="tasksContainer">
	<div id="taskTitleContainer">
		<span id="taskTitle">{{selectedList.name}}</span>
	</div>
	<div id="newTaskContainer">
		<div class="plus-container">
			<a href="javascript:void(0)" (click)="addNewTask(newTask)">
				<img src="./list/images/plus.png" class="list-item-image"/>
			</a>
		</div>
		<div class="input-container">
			<input class="list-item-name" placeholder="Add New Task" #newTask>
		</div>
	</div>
	<div id="tasks">
		<ul>
			<li *ngFor="let taskItem of notCompletedTaskItems" class="taskItem">
			<img src="./list/images/X.png" class="delete-task"/>
				<input type="checkbox" class="task-item-checkbox" (click)="toggleCheck(taskItem)" align="middle"/>
				<span class="task-item-name">{{taskItem.name}}</span>
				
			</li>
		</ul>
	</div>
	<div id="showCompletedTasksContainer">
		<span id="showCompletedTasks">Completed Tasks</span>
	</div>
	<div id="completedTasks">
		<ul>
			<li *ngFor="let taskItem of completedTaskItems" class="completed taskItem">
			<img src="./list/images/X.png" class="delete-task" />
			<input type="checkbox" checked class="task-item-checkbox" (click)="toggleCheck(taskItem)"/>
				<del class="task-item-name">{{taskItem.name}}</del>
			</li>
		</ul>
	</div>
</div>