body {
    background-color: #6ACFCB;
}

.reg {

    text-align: center;
    margin-bottom: 0;
    margin-top: 40px;
    font-size: 40px;
    color: #208C8E;
    font-family: "Great Vibes", cursive;
    line-height: 100px;
    font-weight: normal;
    text-shadow: 0 1px 10px white;
}

.all-inputs {
    margin-left: 25px;
    margin-top: 25px;

}

#all {
    width: 470px;
    height: 900px;
    margin-left: 400px;
    margin-right: 400px;
    border: solid white;
    background-color: white;
    box-shadow: 3px 5px 5px #208C8E;
    border-radius: 18px;
    line-height: 500%;
    text-align: right;
    font-size: 16px;
    color:
}

#legend {
    border: white;
}

#select {
    display: inline-block;
    box-sizing: content-box;
    border: 1px dotted #b7b7b7;
    -webkit-border-radius: 17px;
    border-radius: 10px;
    font: normal normal bold 16px/0 "Lucida Console", Monaco, monospace;
    color: rgba(38, 43, 45, 1);
    text-indent: 0px;
    text-overflow: ellipsis;
    letter-spacing: 1px;
    word-spacing: 8px;
    background: rgba(252, 242, 247, 0.7);
    -webkit-box-shadow: 8px 8px 8px -2px rgba(214, 53, 53, 0.2) inset;
    box-shadow: 8px 8px 8px -2px rgba(214, 53, 53, 0.2) inset;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.66);
    width: 90px;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: solid #208C8E;
    margin-left: 0px;
    margin-right: 0px;

}

}

}
.name {
}

.Sname {
}

.mail {
}

.usname {
}

.psw {
}

.conpsw {
}

#p {
    width: 421px;
    height: 50px;
    color: #208C8E;
}

#input {
    display: inline-block;
    box-sizing: content-box;
    border: 1px dotted #b7b7b7;
    -webkit-border-radius: 17px;
    border-radius: 17px;
    font: normal normal bold 16px/0 "Lucida Console", Monaco, monospace;
    color: rgba(38, 43, 45, 1);
    text-indent: 20px;
    text-overflow: ellipsis;
    letter-spacing: 1px;
    word-spacing: 8px;
    background: rgba(252, 242, 247, 0.7);
    -webkit-box-shadow: 8px 8px 8px -2px rgba(214, 53, 53, 0.2) inset;
    box-shadow: 8px 8px 8px -2px rgba(214, 53, 53, 0.2) inset;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.66);
    width: 250px;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: solid #208C8E;
    margin-left: 10px;
    margin-right: 10px;
}

.submit {

    float: right;
    width: 110px;
    height: 40px;
    margin-top: 10px;
    margin-right: 25px;
    box-sizing: content-box;
    cursor: pointer;
    border: none;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    font: normal normal bold 16px/normal "Trebuchet MS", Helvetica, sans-serif;
    color: rgba(232, 238, 239, 1);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: -webkit-linear-gradient(-90deg, rgba(76, 151, 232, 1) 0, rgba(96, 131, 196, 1) 80%, rgba(96, 131, 196, 1) 94%, rgba(96, 131, 196, 1) 97%, rgba(96, 131, 196, 1) 99%, rgba(223, 196, 237, 1) 100%, rgba(100, 140, 214, 1) 100%);
    background: -moz-linear-gradient(180deg, rgba(76, 151, 232, 1) 0, rgba(96, 131, 196, 1) 80%, rgba(96, 131, 196, 1) 94%, rgba(96, 131, 196, 1) 97%, rgba(96, 131, 196, 1) 99%, rgba(223, 196, 237, 1) 100%, rgba(100, 140, 214, 1) 100%);
    background: linear-gradient(180deg, rgba(76, 151, 232, 1) 0, rgba(96, 131, 196, 1) 80%, rgba(96, 131, 196, 1) 94%, rgba(96, 131, 196, 1) 97%, rgba(96, 131, 196, 1) 99%, rgba(223, 196, 237, 1) 100%, rgba(100, 140, 214, 1) 100%);
    background-position: 50% 50%;
    -webkit-box-shadow: 5px 5px 9px 0 rgba(41, 148, 219, 0.31);
    box-shadow: 5px 5px 9px 0 rgba(41, 148, 219, 0.31);
    text-shadow: -1px -1px 0 rgba(15, 73, 168, 0.66);

}